.tab {
    &[data-active="true"] {
        border-bottom: 1px solid gold;
    }

    background-color: var(--primary-bg);
    color: var(--tab-color);
    padding: .3rem 2rem;
    width: max-content;
    cursor: pointer;
}