.tab {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    max-width: max-content;

    text-align: left;
    background-color: var(--primary-bg);
    color: var(--tab-color);
    padding: .3rem 1rem;
    cursor: pointer;

    .underline {
        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        background-color: gold;
    }


    &[data-active="true"] .underline{
        width: 100%;
        transition: width 250ms;
    }
}