.tab {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    max-width: max-content;

    text-align: left;
    background-color: var(--primary-bg);
    color: var(--tab-color);
    padding: .3rem 1rem;
    cursor: pointer;


    &[data-active="true"] {
        border-bottom: 1px solid gold;
    }
}