.main {
    display: flex;
    position: relative;
    width: 80%;
    margin: 10rem auto;
    height: 500px;
    background-color: var(--primary-bg);
    border-radius: 1rem;
    overflow: hidden;
}

