.present_section {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    flex-basis: 50%;

    @media screen and (max-width: 768px) {
        max-height: 50%;
    }
}

.tab_content_wrapper {
    height: 100%;
    padding: 1rem;
    overflow: auto;
}