:root {
  --window-background-color: #171b24;
  --primary-bg: #1c212b;
  --seperator-color: #0c0e13;
  --tab-color: #498ba7;
  --primary-text-color: #cccac2;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--window-background-color);
}
