.navigation_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.profile_image {
    border-radius: 100%;
}

.profile_and_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 50%;
}

.name_contact {
    display: flex;
    flex-direction: column;
    color: #a2d4ee;
}

.name {
    text-align: center;
    margin: .5rem 0;
}