.navigation_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.profile_image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-bottom: .5rem;

    @media screen and (max-width: 425px) {
        width: 130px;
        height: 130px;
    }
}

.profile_and_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 50%;
}

.name_contact {
    display: flex;
    flex-direction: column;
    color: #a2d4ee;
    gap: .5rem;
}

.name {
    text-align: center;
    margin:  0;
}