.intro_box {
    display: flex;
    position: relative;
    width: 80%;
    margin: 10rem auto;
    height: 500px;
    background-color: antiquewhite;
    border-radius: 1rem;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 5px;
        bottom: 0;
        right: 50%;
        height: 100%;
        background-color: burlywood;
    }
}

.profile_image {
    border-radius: 100%;
}

.profile_and_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about {
    width: 50%;
}

.name_contact {
    display: flex;
    flex-direction: column;
}